<% include('./partials/head') %>
<title>Data Manager</title>
</head>
<body class="no-js">
	<header>
		<h1>Dataset manager</h1>
	</header>
	<main>
		<section id='upload'>
			<h2>Upload Dataset</h2>
			<form action="/data" method="post" enctype="multipart/form-data">
				<label for="company">Company:</label>
				<input type="text" name='company' required id="company">
				<label for="file">Dataset:</label>
				<input type="file" name="csv" id='file' required accept=".csv,text/csv"/>
				<button>Upload Data</button>
			</form>
		</section>
		<section id='datasets'>
			<h2>Datasets</h2>
			<!-- here come al the datasets that are loaded and processed -->
		</section>
		<section id='tasklist'>
			<h2>Tasklist</h2>
			<p><%= tasks %></p>
			<% for (var index = 0; index <tasklist.length; index++) { %>
				<article>
					<h3><%= tasklist[index].type %></h3>
					<p>Company: <%= tasklist[index].dataset.company %></p>
					<p>File: <%= tasklist[index].dataset.originalname %></p>
					<p>Status: <%= tasklist[index].dataset.status %></p>
				</article>
				<% } %>
			<!-- here come the current tasks like uploading and processing -->
		</section>
	</main>
<%- include('./partials/tail') %>
