<%- include('../partials/head.ejs') %>
<title>Zero Waste - Dataset Manager</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main id="dataset-manager">
		<header>
			<h1>Dataset Manager</h1>
			<a href="/">Terug naar dashboard</a>
		</header>
		<section id='upload'>
			<h2>Dataset Uploaden</h2>
			<div>
				<form class="block upload" action="/data" method="post" enctype="multipart/form-data">
					<label for="collectionCompany">Inzamelingsbedrijf:</label>
					<input tabindex="0" type="text" name='collectionCompany' required id="collectionCompany">
					<label for="csv">Dataset</label>
					<input tabindex="0" type="file" name="csv" id='csv' required accept=".csv,text/csv"/>
					<button tabindex="0" >Upload Dataset</button>
				</form>
				<div class="block requirements">
					<p>De dataset moet de volgende kolomen bevatten: </p>
					<ul>
						<li>bedrijfsnaam</li>
						<li>straat</li>
						<li>huisnummer</li>
						<li>postcode</li>
						<li>sbi_hoofdcode</li>
						<li>sbi_code</li>
						<li>ma</li>
						<li>di</li>
						<li>woe</li>
						<li>do</li>
						<li>vr</li>
						<li>zat</li>
						<li>zo</li>
					</ul>
				</div>
				<div class="block requirements">
					<p>Alle waarden moeten ingevuld zijn behalve sbi_code en sbi_hoofdcode</p>
					<p>Als <strong>sbi_hoofdcode</strong> en/of <strong>sbi_code</strong> niet is ingevuld wordt hier geen categorie aan toegekend en niet meegenomen in de sunburst</p>
				</div>
			</div>
		</section>
		<section id="done">
			<header>
				<h2>Ingeladen Datasets</h2>
				<% if(jobs.done.length > 0) { %>
				<div class="job header-row">
					<p>Inzamelingsbedrijf:</p>
					<p>Geupload door:</p>	
					<p>Taak:</p>
					<p>Status:</p>
					<p>Verwijderen</p>
				</div>
				<% } %>
			</header>
			<% if(jobs.done.length < 1) { %>
				<article class="job empty">
					<p>Er zijn geen datasets ingeladen, gebruik de upload sectie om een dataset toe te voegen</p>
				</article>
			<% } %>
			<% jobs.done.forEach(job => { %>
				<article class="job done">
					<p><%= job.dataset.collectionCompany %></p>
					<p>Gebruiker</p>
					<% if(job.type == 'addDataset') { %>
					<p>Dataset toevoegen</p>
					<% } %>
					<% if(job.type == 'removeDataset') { %>
					<p>Dataset verwijderen</p>
					<% } %>
					<p>Ingeladen</p>
					<a aria-label="verwijderen" href= <%=`/data/delete/${job._id}`%> ><img src="/public/assests/icons/rubbish-bin.svg" alt=""></a>
				</article>
			<% }) %>
		</section>
		<% if(jobs.failed.length >= 1) { %>
		<section id="failed">
			<header>
				<h2>Niet ingeladen dataset</h2>
				<div class="job header-row">
					<p>Inzamelingsbedrijf:</p>
					<p>Geupload door:</p>	
					<p>Taak:</p>
					<p>Status:</p>
					<p>Verwijderen</p>
				</div>
			</header>
			<% jobs.failed.forEach(job => { %>
				<article class="job failed">
					<p><%= job.dataset.collectionCompany %></p>
					<p>Gebruiker</p>
					<% if(job.type == 'addDataset') { %>
					<p>Dataset toevoegen</p>
					<% } %>
					<% if(job.type == 'removeDataset') { %>
					<p>Dataset verwijderen</p>
					<% } %>
					<p>Niet ingeladen</p>
					<a aria-label="verwijderen" href= <%=`/data/delete/${job._id}`%> ><img src="/public/assests/icons/rubbish-bin.svg" alt=""></a>
				</article>
			<% }) %>
		</section>
		<% } %>
		<% if(jobs.running.length >= 1) { %>
		<section id="running">
			<header>
				<h2>Huidige taak</h2>
				<div class="job header-row">
					<p>Inzamelingsbedrijf:</p>
					<p>Geupload door:</p>	
					<p>Taak:</p>
					<p>Status:</p>
				</div>
			</header>
			<% jobs.running.forEach(job => { %>
				<article class="job failed">
					<p><%= job.dataset.collectionCompany %></p>
					<p>Gebruiker</p>
					<% if(job.type == 'addDataset') { %>
					<p>Dataset toevoegen</p>
					<% } %>
					<% if(job.type == 'removeDataset') { %>
					<p>Dataset verwijderen</p>
					<% } %>
					<p>Uitvoeren</p>
				</article>
			<% }) %>
		</section>
		<% } %>
		<section id ="queue">
			<header>
				<h2>Wachtrij</h2>
				<% if(jobs.inQueue.length > 0) { %>
				<div class="job header-row">
					<p>Inzamelingsbedrijf:</p>
					<p>Geupload door:</p>	
					<p>Taak:</p>
					<p>Status:</p>
				</div>
				<% } %>
			</header>
			<% if(jobs.inQueue.length < 1) { %>
				<article class="job empty">
					<p>Er zijn geen datasets in de wachtrij</p>
				</article>
			<% } %>
			<% jobs.inQueue.forEach(job => { %>
				<article class="job queue">
					<p><%= job.dataset.collectionCompany %></p>
					<p>Gebruiker</p>
					<% if(job.type == 'addDataset') { %>
					<p>Dataset toevoegen</p>
					<% } %>
					<% if(job.type == 'removeDataset') { %>
					<p>Dataset verwijderen</p>
					<% } %>
					<p>In wachtrij</p>
				</article>
			<% }) %>
		</section>
	</main>
<%- include('../partials/notification.ejs') %>
<script type='module' src="./public/scripts/dataset-manager.mjs"></script>
</body>
</html>
