<%- include('../partials/head.ejs') %>
<title>Data Manager</title>
</head>
<body class="no-js">
	<header>
		<h1>Dataset manager</h1>
	</header>
	<main>
		<section id='upload'>
			<h2>Upload Dataset</h2>
			<form action="/data" method="post" enctype="multipart/form-data">
				<label for="collectionCompany">Company:</label>
				<input type="text" name='collectionCompany' required id="collectionCompany">
				<label for="file">Dataset:</label>
				<input type="file" name="csv" id='file' required accept=".csv,text/csv"/>
				<button>Upload Data</button>
			</form>
		</section>
		<section id='datasets'>
			<section>
				<h2>Loaded datasets</h2>
				<% jobs.done.forEach(job => { %>
					<article>
						<h2><%= job.dataset.collectionCompany %></h2>
						<p>Status: <%= job.status %></p>
					</article>
				<% }) %>
			</section>
			<section>
				<h2>Job Queue</h2>
				<% jobs.inQueue.forEach(job => { %>
					<article>
						<h3><%= job.dataset.collectionCompany %></h2>
						<p>Status: <%= job.status %></p>
					</article>
				<% }) %>
			</section>
		</section>
	</main>
<%- include('../partials/tail.ejs') %>
