		<% if(notification) { %>
			<!-- this will only be shown on notification -->
		<section class='notifications' <%= notification.type %> >
				<% if (notification.type === 'error') { %>
				<header>
					<h2>Oops, an error occurred</h2>
				</header>
				<p><%= notification.content %></p>
				<% } else if(notification.type === 'warning') { %>
				<header>
					<h2>Something went wrong, check the following issues:</h2>
				</header>
				<p><%= notification.content %></p>
				<% } else if(notification.type === 'info') { %>
				<header>
					<h2>The following requires your attention:</h2>
				</header>
				<p><%= notification.content %></p>
				<% }  else if(notification.type === 'success') { %>
				<header>
					<h2>Success!</h2>
				</header>
				<p><%= notification.content %></p>
				<% } %>
		</section>
		<% } %>