	<%- include('../partials/head.ejs') %>
	<title>Zero Waste - Kaart</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main id="dashboard">
		<header>
			<h1>Overzicht bedrijfsafval in Amsterdam</h1>
		</header>
		<section id='info'>
			<h2>Afval op kaart per gebied</h2>
			<p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p>
		</section>
		<section id='compare'>
			<h2>Vergelijk</h2>
			<div>
				<div><p><%= query1.dayNL %></p></div>
				<!-- <div><p><%= query1.dayNL %></p></div> -->
				<div><p><%= query2.dayNL %></p></div>
				<!-- <div><p><%= query1.dayNL %></p></div> -->
			</div>

			<div class="no-js visible warning">
				<p>Zonder JavaScript werkt deze functie helaas niet</p>
			</div>
		</section>
		<section id='categories'>
			<h2>Categorieën - <span>Amsterdam</span></h2>
			<% if(categories) { %>
				<%- categories(categoryData, query1) %> 
			<% } %>
		</section>
		<div id='mapping' class="buttons">
			<a href=<%=`/context?mapping=stadsdelen&day1=${query1.day}&compare=${compare}&day2=${query2.day}`%>>Stadsdelen</a> 
			<a href=<%=`/context?mapping=wijken&day1=${query1.day}&compare=${compare}&day2=${query2.day}`%>>Wijken</a>
			<a href=<%=`/context?mapping=buurten&day1=${query1.day}&compare=${compare}&day2=${query2.day}`%>>Buurten</a>
		</div>
		<section id='map'>
		<% if (featureCollection) { %>
			<div class="map">
				<div class="buttons">
					<a href=<%=`/context?mapping=${mapping}&day1=total&compare=${compare}&day2=${query2.day}`%>>Totaal</a>
					<a href=<%=`/context?mapping=${mapping}&day1=monday&compare=${compare}&day2=${query2.day}`%>>Ma</a>
					<a href=<%=`/context?mapping=${mapping}&day1=tuesday&compare=${compare}&day2=${query2.day}`%>>Di</a>
					<a href=<%=`/context?mapping=${mapping}&day1=wednesday&compare=${compare}&day2=${query2.day}`%>>Wo</a>
					<a href=<%=`/context?mapping=${mapping}&day1=thursday&compare=${compare}&day2=${query2.day}`%>>Do</a>
					<a href=<%=`/context?mapping=${mapping}&day1=friday&compare=${compare}&day2=${query2.day}`%>>Vr</a>
					<a href=<%=`/context?mapping=${mapping}&day1=saturday&compare=${compare}&day2=${query2.day}`%>>Za</a>
					<a href=<%=`/context?mapping=${mapping}&day1=sunday&compare=${compare}&day2=${query2.day}`%>>Zo</a>
				</div>
				
				<%- map(featureCollection, query1) %> 
			</div>
			<% if (compare) { %>
			<div class="map">
				<div class="buttons">
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=total`%>>Totaal</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=monday`%>>Ma</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=tuesday`%>>Di</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=wednesday`%>>Wo</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=thursday`%>>Do</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=friday`%>>Vr</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=saturday`%>>Za</a>
					<a href=<%=`/context?mapping=${mapping}&day1=${query1.day}&compare=true&day2=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query2) %> 
			</div>
			<% } else { %>
			<div class="map">
				<p>vergelijk</p>
			</div>
			<% } %>
		<% } else { %>
			<p>Er zijn geen datasets beschikbaar</p>
			<p>Upload deze in de dataset manager:</p>
			<a href="/data">Dataset Manager</a>
		<% } %>
		</section>
		<section id='small-screen'>
			<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
		</section>
	</main>
	<script src="./public/scripts/main.js"></script>
</body>
</html>
