<%- include('../partials/head.ejs') %>
<title>Zero Waste - Kaart</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main id="visualization-chart">
		<header>
			<h1>Overzicht bedrijfsafval in Amsterdam</h1>
		</header>
		<div class="no-js visible">
			<a href=<%=`/context?mapping=stadsdelen&day=${query.day}`%>>Stadsdelen</a>
			<a href=<%=`/context?mapping=wijken&day=${query.day}`%>>Wijken</a>
			<a href=<%=`/context?mapping=buurten&day=${query.day}`%>>Buurten</a>
		</div>
		<div class="js hidden">
			<label for="areas">Niveau:</label>
			<select name="areas" id="areas">
				<option value="stadsdeel">stadsdeel</option>
				<option value="wijk">wijk</option>
				<option value="buurt">buurt</option>
			</select>
		</div>
		<section id="info">
			<h2>Afval op kaart per gebied</h2>
			<p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p>
		</section>
		<section id="compare">
			<h2>Amsterdam</h2>
		</section>
		<section id="categories">
			<h2>Categorieën</h2>
		</section>
		<section id="chart">
			<div>
				<%- barChart(featureCollection) %>
			</div>
			<div>
				<!-- <button>vergelijk</button> -->
			</div>
		</section>		
	</main>
	<%- include('../partials/notification.ejs') %>
	<script src="./public/scripts/main.js"></script>
</body>
</html>