	<%- include('../partials/head.ejs') %>
	<link rel="stylesheet" href="/public/styles/visualizations.css">
	<title>Zero Waste - Dashboard</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main>
		<header id= "mapping">
			<div>
				<h1>Dashboard</h1>
			</div>			
			<div class="no-js">
				<a class='buttons' href=<%=`/context?mapping=stadsdelen&day=${query1.day}`%>>Stadsdelen</a> 
				<a class='buttons' href=<%=`/context?mapping=wijken&day=${query1.day}`%>>Wijken</a>
				<a class='buttons' href=<%=`/context?mapping=buurten&day=${query1.day}`%>>Buurten</a>
			</div>
		</header>
		<div id='container'>
			<section id='info' >
				<h2>Afval op kaart per gebied</h2>
				<p>De kaart laat per gebied(wijk, stadsdeel, buurt) zien hoeveel afval er geproduceerd wordt</p>
				<p>Per gebied geeft de kleur aan wat de contracten zijn per m2. Hoe donkerder het gebied, hoe meer afval</p>
			</section>
			<!-- <section id='compare'>
				<h2>Vergelijk</h2>
			</section> -->
			<section id='categories'>
				<h2>Categorieën</h2>
				<p>Amsterdam</p>
				<% if(categories) { %>
					<%- categories(categoryData, query1) %>
				<% } %>
			</section>
			<section id='map'>
				<% if (featureCollection) { %>
					<div>
						<header id='days-map1'>
							<div class="no-js">
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=total`%>>Totaal</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=monday`%>>Ma</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=tuesday`%>>Di</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=wednesday`%>>Wo</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=thursday`%>>Do</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=friday`%>>Vr</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=saturday`%>>Za</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=sunday`%>>Zo</a>
							</div>
						</header>
						<%- map(featureCollection, query1, 'map1') %>
					</div>
					<div class="compare-link">
						<a class='buttons' href=<%=`/compare?mapping=${mapping}&day=${query1.day}&day2=total`%>>
							<p>Vergelijk</p>
						</a> 
					</div>
				<% } else { %>
					<div>
						<p>Er is geen data beschikbaar</p>
						<p>Upload data in de dataset manager</p>
						<a href="/data">Datasetmanager</a>
					</div>
				<% } %>
			</section>
		</div>
	</main>
	<div class="small-screen">
		<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
	</div>
	<script src="./public/scripts/main.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script type='module' src="./public/scripts/dashboard.mjs"></script>
</body>
</html>