	<%- include('../partials/head.ejs') %>
	<link rel="stylesheet" href="/public/styles/visualizations.css">
	<title>Zero Waste - Dashboard</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main>
		<header>
			<div>
				<h1>Dashboard</h1>
			</div>			
			<div id= "mapping" class="no-js">
				<a class='buttons' href=<%=`/context?mapping=stadsdelen&day=${query1.day}`%>>Stadsdelen</a> 
				<a class='buttons' href=<%=`/context?mapping=wijken&day=${query1.day}`%>>Wijken</a>
				<a class='buttons' href=<%=`/context?mapping=buurten&day=${query1.day}`%>>Buurten</a>
			</div>
		</header>
		<div id='container'>
			<section id='info' >
				<h2>Afval op kaart per gebied</h2>
				<p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p>
			</section>
			<section id='compare'>
				<h2>Vergelijk</h2>
			</section>
			<section id='categories'>
				<h2>Categorieën</h2>
				<p>Amsterdam</p>
				<% if(categories) { %>
					<%- categories(categoryData, query1) %> 
				<% } %>
			</section>
			<section id='map'>
				<% if (featureCollection) { %>
					<div>
						<header>
							<div class="no-js">
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=total`%>>Totaal</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=monday`%>>Ma</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=tuesday`%>>Di</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=wednesday`%>>Wo</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=thursday`%>>Do</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=friday`%>>Vr</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=saturday`%>>Za</a>
								<a class='buttons' href=<%=`/context?mapping=${mapping}&day=sunday`%>>Zo</a>
							</div>
						</header>
						<%- map(featureCollection, query1) %>
					</div>
					<div class="compare-link">
						<a class='buttons' href=<%=`/compare?mapping=${mapping}&day=${query1.day}&day2=total`%>>
							<p>Vergelijk</p>
						</a> 
					</div>
				<% } else { %>
					<div>
						<p>Er is geen data beschikbaar</p>
						<p>Upload data in de dataset manager</p>
						<a href="/data">Datasetmanager</a>
					</div>
				<% } %>
			</section>
		</div>
	</main>
	<div class="small-screen">
		<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
	</div>
	<script src="./public/scripts/main.js"></script>
</body>
</html>



<!-- <main id="dashboard">
	<header>
		<h1>Overzicht bedrijfsafval in Amsterdam</h1>
	</header>
	<section id='info'>
		<h2>Afval op kaart per gebied</h2>
		<p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p>
	</section>
	<section id='compare'>
		<h2>Vergelijk</h2>
		<div>
		</div>

		<div class="no-js visible warning">
			<p>Zonder JavaScript werkt deze functie helaas niet</p>
		</div>
	</section>
	<section id='categories'>
		<h2>Categorieën - <span>Amsterdam</span></h2>
		<% if(categories) { %>
			<%- categories(categoryData, query1) %> 
		<% } %>
	</section>
	<div id='mapping' class="buttons">
		<a href=<%=`/context?mapping=stadsdelen&day=${query1.day}`%>>Stadsdelen</a> 
		<a href=<%=`/context?mapping=wijken&day=${query1.day}`%>>Wijken</a>
		<a href=<%=`/context?mapping=buurten&day=${query1.day}`%>>Buurten</a>
	</div>
	<section id='map'>
		<div>
			<% if (featureCollection) { %>
			<div class="buttons">
				<a href=<%=`/context?mapping=${mapping}&day=total`%>>Totaal</a>
				<a href=<%=`/context?mapping=${mapping}&day=monday`%>>Ma</a>
				<a href=<%=`/context?mapping=${mapping}&day=tuesday`%>>Di</a>
				<a href=<%=`/context?mapping=${mapping}&day=wednesday`%>>Wo</a>
				<a href=<%=`/context?mapping=${mapping}&day=thursday`%>>Do</a>
				<a href=<%=`/context?mapping=${mapping}&day=friday`%>>Vr</a>
				<a href=<%=`/context?mapping=${mapping}&day=saturday`%>>Za</a>
				<a href=<%=`/context?mapping=${mapping}&day=sunday`%>>Zo</a>
			</div>
			<%- map(featureCollection, query1) %>
			<% } else { %>
			<div class="buttons"></div>
				<p>Er is geen data beschikbaar</p>
				<p>Upload data in de dataset manager</p>
				<a href="/data">Datasetmanager</a>
			</div>
			<% } %>
		</div>
		<div id="compare-link">
			<a href=<%=`/compare?mapping=${mapping}&day=${query1.day}`%>>Vergelijk</a> 
		</div>
	</section>
	<section id='small-screen'>
		<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
	</section>
</main> -->
