	<%- include('../partials/head.ejs') %>
	<link rel="stylesheet" href="/public/styles/dashboard.css">
	<title>Zero Waste - Kaart</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<!-- <main class="small-screen">
		<p>Om deze applicatie goed te kunnen gebruiken is het handiger deze op een tablet of desktop te gebruiken</p>
	</main> -->
	 <main class="large-screen" id="dashboard">
		<header>
			<h1>Overzicht bedrijfsafval in Amsterdam</h1>
		</header>
		<div>
			<a class='buttons' href=<%=`/context?mapping=stadsdelen&day=${query.day}`%>>Stadsdelen</a> 
			<a class='buttons' href=<%=`/context?mapping=wijken&day=${query.day}`%>>Wijken</a>
			<a class='buttons' href=<%=`/context?mapping=buurten&day=${query.day}`%>>Buurten</a>
		</div>
		<!-- <div class="js hidden">
			<label for="areas">Niveau:</label>
			<select name="areas" id="areas">
				<option value="stadsdeel">stadsdeel</option>
				<option value="wijk">wijk</option>
				<option value="buurt">buurt</option>
			</select>
		</div> -->
		<section id="info">
			<!-- <h2>Afval op kaart per gebied</h2> -->
			<!-- <p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p> -->
		</section>
		<section id="compare">
			<!-- <h2>Vergelijk</h2> -->
			<!-- <div class="no-js visible warning"> -->
				<!-- <p>Please enable Javascript to use this feature</p> -->
			<!-- </div> -->
		</section>
		<section id="categories">
			<!-- <h2>Categorieën</h2> -->
			<%# if(categories) { %>
				<%#- categories(categoryData, query) %> 
			<%# } %>
		</section>
		<section id="map">
			<div class="map">
				<% if(featureCollection) { %>
				<div>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=total`%>>Totaal</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=monday`%>>Ma</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=tuesday`%>>Di</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=wednesday`%>>Wo</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=thursday`%>>Do</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=friday`%>>Vr</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=saturday`%>>Za</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query) %> 
				<% } else { %>
				<p>Er zijn geen datasets beschikbaar</p>
				<p>Upload deze in de dataset manager:</p>
				<a href="/data">Dataset Manager</a>
				<% } %> 
			</div>
			<div class="map">
			<% if(featureCollection) { %>
				<div>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=total`%>>Totaal</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=monday`%>>Ma</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=tuesday`%>>Di</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=wednesday`%>>Wo</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=thursday`%>>Do</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=friday`%>>Vr</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=saturday`%>>Za</a>
					<a class='buttons' href=<%=`/context?mapping=${query.mapping}&day=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query) %> 
				<% } else { %>
				<p>Er zijn geen datasets beschikbaar</p>
				<p>Upload deze in de dataset manager:</p>
				<a href="/data">Dataset Manager</a>
				<% } %> 
			</div>
		</section>
	</main> 
	<%- include('../partials/notification.ejs') %>
	<script src="./public/scripts/main.js"></script>
</body>
</html>