	<%- include('../partials/head.ejs') %>
	<title>Zero Waste - Kaart</title>
</head>
<body>
	<%- include('../partials/header.ejs') %>
	<main id="dashboard">
		<header>
			<h1>Overzicht bedrijfsafval in Amsterdam</h1>
		</header>
		<section id='info'>
			<h2>Afval op kaart per gebied</h2>
			<p>Bekijk en vergelijk verschillende wijken, gebieden zones en postcodes met elkaar. Gebruik de kaart om je vergelijkingen te kunnen maken.</p>
		</section>
		<section id='compare'>
			<h2>Vergelijk</h2>
			<div class="no-js visible warning">
				<p>Zonder JavaScript werkt deze functie helaas niet</p>
			</div>
		</section>
		<section id='categories'>
			<h2>Categorieën</h2>
			<% if(categories) { %>
				<%- categories(categoryData, query) %> 
			<% } %>
		</section>
		<div id='mapping' class="buttons">
			<a href=<%=`/context?mapping=stadsdelen&day=${query.day}`%>>Stadsdelen</a> 
			<a href=<%=`/context?mapping=wijken&day=${query.day}`%>>Wijken</a>
			<a href=<%=`/context?mapping=buurten&day=${query.day}`%>>Buurten</a>
		</div>
		<section id='map'>
		<div class="map">
				<% if(featureCollection) { %>
				<div class="buttons">
					<a href=<%=`/context?mapping=${query.mapping}&day=total`%>>Totaal</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=monday`%>>Ma</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=tuesday`%>>Di</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=wednesday`%>>Wo</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=thursday`%>>Do</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=friday`%>>Vr</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=saturday`%>>Za</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query) %> 
				<% } else { %>
				<p>Er zijn geen datasets beschikbaar</p>
				<p>Upload deze in de dataset manager:</p>
				<a href="/data">Dataset Manager</a>
				<% } %> 
			</div>
			<div class="map">
			<% if(featureCollection) { %>
				<div class="buttons">
					<a href=<%=`/context?mapping=${query.mapping}&day=total`%>>Totaal</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=monday`%>>Ma</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=tuesday`%>>Di</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=wednesday`%>>Wo</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=thursday`%>>Do</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=friday`%>>Vr</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=saturday`%>>Za</a>
					<a href=<%=`/context?mapping=${query.mapping}&day=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query) %> 
				<% } else { %>
				<p>Er zijn geen datasets beschikbaar</p>
				<p>Upload deze in de dataset manager:</p>
				<a href="/data">Dataset Manager</a>
				<% } %> 
			</div>
		</section>
		<section id='small-screen'>
			<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
		</section>
	</main>
	<script src="./public/scripts/main.js"></script>
</body>
</html>
