	<%- include('../partials/head.ejs') %>
	<title>Zero Waste - Kaart</title>
</head>
<body id="compare-body">
	<%- include('../partials/header.ejs') %>
	<main id='dashboard' class="compare">
		<header>
			<h1>Overzicht bedrijfsafval in Amsterdam</h1>
			<a href="/">Terug naar dashboard</a>
		</header>
		<section id='categories1' class="categories">
			<h2>Categorieën - <span>Amsterdam</span></h2>
			<% if(categories) { %>
				<%- categories(categoryData, query1) %> 
			<% } %>
		</section>
		<section>
			<h2>Vergelijk</h2>
			<div class="no-js visible warning">
				<p>Zonder JavaScript werkt deze functie helaas niet</p>
			</div>
		</section>
		<section id='categories2' class="categories">
			<h2>Categorieën - <span>Amsterdam</span></h2>
			<% if(categories) { %>
				<%- categories(categoryData, query2) %> 
			<% } %>
		</section>
		<div id='mapping' class="buttons">
			<a href=<%=`/compare?mapping=stadsdelen&day1=${query1.day}&day2=${query2.day}`%>>Stadsdelen</a> 
			<a href=<%=`/compare?mapping=wijken&day1=${query1.day}&day2=${query2.day}`%>>Wijken</a>
			<a href=<%=`/compare?mapping=buurten&day1=${query1.day}&day2=${query2.day}`%>>Buurten</a>
		</div>
		<section id='map'>
			<% if (featureCollection) { %>
			<div class="map">
				<div class="buttons">
					<a href=<%=`/compare?mapping=${mapping}&day1=total&day2=${query2.day}`%>>Totaal</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=monday&day2=${query2.day}`%>>Ma</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=tuesday&day2=${query2.day}`%>>Di</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=wednesday&day2=${query2.day}`%>>Wo</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=thursday&day2=${query2.day}`%>>Do</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=friday&day2=${query2.day}`%>>Vr</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=saturday&day2=${query2.day}`%>>Za</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=sunday&day2=${query2.day}`%>>Zo</a>
				</div>
				<%- map(featureCollection, query1) %> 
			</div>
			<div class="map">
				<div class="buttons">
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=total`%>>Totaal</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=monday`%>>Ma</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=tuesday`%>>Di</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=wednesday`%>>Wo</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=thursday`%>>Do</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=friday`%>>Vr</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=saturday`%>>Za</a>
					<a href=<%=`/compare?mapping=${mapping}&day1=${query1.day}&day2=sunday`%>>Zo</a>
				</div>
				<%- map(featureCollection, query2) %> 
			</div>
			<% } else { %>
				<div class="buttons"></div>
				<p>Er is geen data beschikbaar</p>
				<p>Upload data in de dataset manager</p>
				<a href="/data">Datasetmanager</a>
			</div>
			<% } %>
		</section>
		<section id='small-screen'>
			<p>Deze applicatie is handiger op een groter scherm, zoals een tablet of laptop</p>
		</section>
	</main>
	<script src="./public/scripts/main.js"></script>
</body>
</html>
